Flask==0.10.1
Flask-Login==0.2.7
Flask-Script==0.6.3
Flask-WTF==0.9.3
Jinja2==2.7.1
MarkupSafe==0.18
WTForms==1.0.5
Werkzeug==0.9.4
anyjson==0.3.3
beautifulsoup4==4.3.2
flask-mongoengine==0.7.0
fuzzywuzzy==0.2
google-api-python-client==1.2
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
lettuce==0.2.19
lettuce-webdriver==0.3.2
mongoengine==0.8.4
oauth2==1.5.211
oauthlib==0.6.0
pycurl==7.19.0.2
pymongo==2.6.3
python-twitter==1.1
requests==2.0.1
requests-oauthlib==0.4.0
selenium==2.37.2
simplejson==3.3.1
sure==1.2.3
tweepy==2.1
tweetstream==1.1.1
wsgiref==0.1.2
