{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}
    <a class="btn btn-primary" href='{{url_for("send_token")}}' onclick="
        var authWindow= window.open(this.href, '', 'left=100,top=100,width=500,height=300,toolbar=0,resizable=1');
        var authenticationSuccessUrl = 'http://127.0.0.1:5000/home';
        var timer = setInterval(function() {
            if(authWindow.closed) {
                clearInterval(timer);
                window.location = authenticationSuccessUrl;
            }
        }, 1000);
        return false;">
        Sign in with Twitter
    </a>

    <a class="btn btn-primary" href='{{url_for("google_auth")}}' onclick="">
        Sign in with Google
    </a>
{% endblock %}