{% extends "base/base.html" %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{{ url_for('static', filename='lib/zclip/jquery.zclip.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <span class="stat-header">
                <i class="fa fa-usd"></i>
                <span count-up data-type="float" data-delay="0"> 1.56 </span>
            </span>
            <span class="stat-label">
                EARNED
            </span>
        </div>
        <div class="col-md-4">
            <span class="stat-header">
                <i style="visibility:hidden" class="fa fa-usd">.</i>
                <span count-up data-type="int" data-delay="300">200</span>
            </span>
            <span class="stat-label">
                CLICKS
            </span>
        </div>
        <div class="col-md-4">
            <span class="stat-header">
                <i class="fa fa-usd"></i>
                <span count-up data-type="float" id="avg-clicks" data-delay="600">0.54 </span>
            </span>
            <span class="stat-label">
                PER CLICK
            </span>
        </div>
    </div>

    <div style="font-weight:300; font-size:22px; padding-right:0px; margin-top:40px">
        Active Offers
    </div>

    <div style="margin-top:5px; margin-left:0px; position:relative; left:-10px" class="row">
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/GBPDnUil75c/0.jpg" style="">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/hlVBg7_08n0/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/5y_KJAg8bHI/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/DqP-8RdtO4c/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/phtIvOesNkM/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/Se_x8ARG4LM/0.jpg">
        </div>
    </div>

    <div style="margin-top:30px">
        <div class='row'>
            <div class="col-md-4 table-header">
                NAME
            </div>
            <div class="col-md-2 table-header">
                TIME REMAIN
            </div>
            <div class="col-md-2 table-header">
                EARNED
            </div>
            <div class="col-md-2 table-header">
                CLICKS
            </div>
            <div class="col-md-2 table-header">
                PER CLICK
            </div>
        </div>
    </div>
    <hr class="faded" style="margin-top:5px; margin-bottom:0px">
    <div ng-controller="OfferCtrl">
        <div class="table-row" ng-repeat="offer in claimed" >
            <div class="row">
                <div class="col-md-4" style="padding-left:20px">
                    [[offer.title]]
                </div>
                <div class="col-md-2">
                    10 days
                </div>
                <div class="col-md-2">
                    $20.50
                </div>
                <div class="col-md-2">
                    86
                </div>
                <div class="col-md-2">
                    $[[offer.bid]]
                </div>
            </div>

        </div>
    </div>
    <div style="font-weight:300; font-size:22px;margin-top:40px">
        Ended Offers
    </div>
    <div style="margin-top:5px; margin-left:0px; position:relative; left:-10px" class="row">
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/GBPDnUil75c/0.jpg" style="">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/hlVBg7_08n0/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/5y_KJAg8bHI/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/DqP-8RdtO4c/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/phtIvOesNkM/0.jpg">
        </div>
        <div class="col-md-2 mini-thumbnail">
            <img ng-cloak src="http://img.youtube.com/vi/Se_x8ARG4LM/0.jpg">
        </div>
    </div>

    <div style="margin-top:30px">
        <div class='row'>
            <div class="col-md-4 table-header">
                NAME
            </div>
            <div class="col-md-2 table-header">
                TIME REMAIN
            </div>
            <div class="col-md-2 table-header">
                EARNED
            </div>
            <div class="col-md-2 table-header">
                CLICKS
            </div>
            <div class="col-md-2 table-header">
                PER CLICK
            </div>
        </div>
    </div>
    <hr class="faded" style="margin-top:5px; margin-bottom:0px">
    <div ng-controller="OfferCtrl">
        <div ng-repeat="offer in offers" >
            <div class="row table-row">
                <div class="col-md-4" style="padding-left:20px">
                    [[offer.title]]
                </div>
                <div class="col-md-2">
                    10 days
                </div>
                <div class="col-md-2">
                    $20.50
                </div>
                <div class="col-md-2">
                    86
                </div>
                <div class="col-md-2">
                    $0.79
                </div>
            </div>

        </div>
    </div>

{% endblock %}